In [ ]:
Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [ ]:
a="ruchi"
b=[1 2 3 4 5]
c=3.33
d=(1,2,-5)

In [ ]:
Q2. Given are some following variables containing data:
(i) var1 = ''
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [2]:
var1 = ''

In [3]:
type(var1)

str

In [5]:
 var2 = '[ DS , ML , Python]'

In [6]:
type(var2)

str

In [7]:
var4=1
type(var4)

int

In [9]:
var3 = [ 'DS' , 'ML' , 'Python']
type(var3)

list

In [ ]:
var1 and var2 are string data type
var3 is a list and var4 is a int data type

In [ ]:
Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [3]:
a=10
b=5
print(a/b)
print(a%b)
print(a//b)
print(a**b)

2.0
0
2
100000

In [ ]:
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [14]:
l=[1,"shaurya","bhavya",5.067,999,"true",778,900,80.999,"dc"]
for i in range (0,len(l)):
    print(l[i],type(l[i]))

1 <class 'int'>
shaurya <class 'str'>
bhavya <class 'str'>
5.067 <class 'float'>
999 <class 'int'>
true <class 'str'>
778 <class 'int'>
900 <class 'int'>
80.999 <class 'float'>
dc <class 'str'>

In [ ]:
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [1]:
a=15
b=5
c=0
if a/b==0:
    while(b<=a):
        c+=1
        a/=b
    c
else:
    print("not divisible")

not divisible

In [ ]:
Q6.Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [2]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
l1=[]
l2=[]
for i in l:
   if i%3==0:
      l1.append(i)
   else:
      l2.append(i)
l1
l2

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25]

In [ ]:
Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [ ]:
Mutable objects in Python are those that can be changed after they are created, 
like lists or dictionaries. Immutable objects, on the other hand, cannot be changed 
after they are created, such as strings, integers, or tuples.

examples:

In [3]:
t1 = (0, 1, 2, 3) 
t1[0] = 4
print(t1)

TypeError: 'tuple' object does not support item assignment

In [4]:
l1=[0,1,2,3]
l1[0]=4
print(l1)

[4, 1, 2, 3]

In [ ]:
The above examples shows that tuples are immutable whereas lists are mutable.